    <input id="tab-charts" type="radio" name="tabs" class="peer/tab-charts absolute opacity-0"
      checked/>
    <label
      for="tab-charts"
      class="
        block cursor-default rounded-t-lg bg-slate-300 p-4 hover:bg-slate-200 peer-checked/tab-charts:bg-indigo-600
        peer-checked/tab-charts:text-white
      "
    >
      Charts
    </label>

    <input id="tab-images" type="radio" name="tabs" class="peer/tab-images absolute opacity-0"/>
    <label
      for="tab-images"
      class="
        block cursor-default rounded-t-lg bg-slate-300 p-4 hover:bg-slate-200 peer-checked/tab-images:bg-indigo-600
        peer-checked/tab-images:text-white
      "
    >
      Images
    </label>
